In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import matplotlib.pylab as plt
from matplotlib_venn import venn3
from venn import venn
%matplotlib inline

from utils import prepare_df

In [3]:
df = prepare_df()
df.head()

,period_end_date,translated_when,if_data_corrected,prod_gr_id,country_id_n,delivery_type_id,freq_id,retailer_id,brand_id,predict_automatch,class_acctual
0,NaT,2020-10-15 06:58:28+00:00,0,426,121.0,NaN,2,96,111,1.0,1
1,NaT,2020-10-15 06:38:34+00:00,0,426,NaN,NaN,2,92,95,0.0,1
2,2020-09-20 00:00:00+00:00,2020-09-23 12:27:51+00:00,0,426,121.0,42730.0,2,30,37,1.0,1
3,2020-09-20 00:00:00+00:00,2020-09-23 12:26:41+00:00,0,426,121.0,42730.0,2,92,203,1.0,1
4,2020-09-20 00:00:00+00:00,2020-09-22 09:40:36+00:00,0,426,121.0,50128.0,2,9,31,1.0,1

# Cross tabulation

In [5]:
df.columns

Index(['period_end_date', 'translated_when', 'if_data_corrected', 'prod_gr_id',
       'country_id_n', 'delivery_type_id', 'freq_id', 'retailer_id',
       'brand_id', 'predict_automatch', 'class_acctual'],
      dtype='object')

In [23]:
cols1 = [ 'period_end_date', 'country_id_n',   'retailer_id',
       ] # 'delivery_type_id', 'brand_id'
cols2 = [ 'if_data_corrected', 'prod_gr_id',
        'freq_id', ]

In [24]:
for i in range(len(cols1)):
    for j in range(len(cols2)):
        col1 = cols1[i]
        col2 = cols2[j]
        print(pd.crosstab(df[col1], df[col2]))

if_data_corrected             0    1
period_end_date
2020-08-30 00:00:00+00:00   303    0
2020-09-01 00:00:00+00:00     0  876
2020-09-06 00:00:00+00:00  1339    0
2020-09-13 00:00:00+00:00  1242    0
2020-09-20 00:00:00+00:00  1025    0
2020-09-27 00:00:00+00:00  1341    0
2020-10-01 00:00:00+00:00     0  945
2020-10-04 00:00:00+00:00  1218    0
2020-10-11 00:00:00+00:00  1296    0
2020-10-18 00:00:00+00:00  1442    0
2020-10-25 00:00:00+00:00  1373    0
2020-11-01 00:00:00+00:00  1275  788
2020-11-08 00:00:00+00:00   966    0
2020-11-15 00:00:00+00:00  1775    0
2020-11-22 00:00:00+00:00  2192    0
2020-11-29 00:00:00+00:00   241    0
2020-12-01 00:00:00+00:00     0    3
prod_gr_id                 413   426  427
period_end_date
2020-08-30 00:00:00+00:00   24   200   79
2020-09-01 00:00:00+00:00  118   399  359
2020-09-06 00:00:00+00:00  118   982  239
2020-09-13 00:00:00+00:00  128   894  220
2020-09-20 00:00:00+00:00  140   783  102
2020-09-27 00:00:00+00:00  149   998  194
2020-10-01 00:00:00+00:00  150   303  492
2020-10-04 00:00:00+00:00  176   889  153
2020-10-11 00:00:00+00:00  370   745  181
2020-10-18 00:00:00+00:00  483   796  163
2020-10-25 00:00:00+00:00  406   812  155
2020-11-01 00:00:00+00:00  523   989  551
2020-11-08 00:00:00+00:00  359   465  142
2020-11-15 00:00:00+00:00  369  1271  135
2020-11-22 00:00:00+00:00  878  1144  170
2020-11-29 00:00:00+00:00   95   114   32
2020-12-01 00:00:00+00:00    0     3    0
freq_id                      1     2
period_end_date
2020-08-30 00:00:00+00:00  111   192
2020-09-01 00:00:00+00:00  340   536
2020-09-06 00:00:00+00:00  513   826
2020-09-13 00:00:00+00:00  526   716
2020-09-20 00:00:00+00:00  389   636
2020-09-27 00:00:00+00:00  516   825
2020-10-01 00:00:00+00:00  403   542
2020-10-04 00:00:00+00:00  484   734
2020-10-11 00:00:00+00:00  531   765
2020-10-18 00:00:00+00:00  579   863
2020-10-25 00:00:00+00:00  495   878
2020-11-01 00:00:00+00:00  828  1235
2020-11-08 00:00:00+00:00  375   591
2020-11-15 00:00:00+00:00  690  1085
2020-11-22 00:00:00+00:00  870  1322
2020-11-29 00:00:00+00:00   86   155
2020-12-01 00:00:00+00:00    1     2
if_data_corrected     0     1
country_id_n
103.0               871    10
104.0               661    32
105.0               165   187
106.0               600   127
107.0               343    14
108.0              2064  1073
109.0               375     0
110.0              1013   112
113.0              1546    74
114.0               423   270
116.0               465    37
118.0                 2     1
119.0                 7     0
120.0                26     0
121.0              4078    75
124.0                 1     0
126.0              1189   165
128.0                 0     2
131.0                10     0
136.0                17    12
138.0               104     0
139.0               267   171
141.0                 8     1
150.0                10     0
151.0                 1     0
160.0                46     1
170.0                 5     0
173.0                 1     0
174.0                 1     0
176.0               995    27
177.0               110     0
1002.0                0    15
1010.0              416     0
1011.0              118    61
prod_gr_id     413   426   427
country_id_n
103.0            0   881     0
104.0            0   693     0
105.0            0   352     0
106.0            0   474   253
107.0            0   357     0
108.0            0   278  2859
109.0            0   375     0
110.0            0  1125     0
113.0         1605    15     0
114.0            0   693     0
116.0          362   140     0
118.0            0     3     0
119.0            0     7     0
120.0            0    26     0
121.0            0  4153     0
124.0            0     1     0
126.0            0  1354     0
128.0            0     2     0
131.0            0    10     0
136.0            1    28     0
138.0          104     0     0
139.0          438     0     0
141.0            0     9     0
150.0            0    10     0
151.0            0     1     0
160.0            5    42     0
170.0            0     5     0
173.0            0     1     0
174.0            0     1     0
176.0          980    42     0
177.0            0   110     0
1002.0           0    15     0
1010.0         416     0     0
1011.0         179     0     0
freq_id          1     2
country_id_n
103.0          343   538
104.0          264   429
105.0          147   205
106.0          307   420
107.0          128   229
108.0         1247  1890
109.0          160   215
110.0          427   698
113.0          611  1009
114.0          278   415
116.0          198   304
118.0            0     3
119.0            2     5
120.0           14    12
121.0         1591  2562
124.0            1     0
126.0          546   808
128.0            1     1
131.0            5     5
136.0           14    15
138.0           36    68
139.0          158   280
141.0            4     5
150.0            4     6
151.0            0     1
160.0           21    26
170.0            4     1
173.0            0     1
174.0            1     0
176.0          434   588
177.0           36    74
1002.0           6     9
1010.0         158   258
1011.0          73   106
if_data_corrected     0    1
retailer_id
9                   454   79
10                  488   70
11                  707   85
22                  322   38
25                   33    8
26                  346   45
27                   22    4
28                  322   65
29                  193   31
30                 1050  147
31                  404   73
32                  149   23
33                  193   22
34                  360   55
35                  166   23
45                  561   95
49                  347   60
55                  651  103
69                  329   57
88                  500   83
90                  597   98
91                  268   45
92                  899  137
93                  920  146
94                  760  101
95                  475   52
96                  618  109
115                  58    9
116                 100   11
117                 186   29
118                  51   10
119                 109   16
120                 173   34
123                  89   13
124                 349   56
127                 214   25
130                 182   14
133                 336   52
134                  62    9
136                  48    7
139                 230   30
141                 448   73
145                 458   64
172                 280   37
173                 221   47
174                 168   34
175                  80   12
176                  90   13
177                  63   10
178                 255   48
210                 319   58
211                 382   47
prod_gr_id   413  426  427
retailer_id
9            116  337   80
10           120  334  104
11           178  492  122
22            97  205   58
25             8   27    6
26            85  254   52
27             6   15    5
28            97  214   76
29            39  145   40
30           259  731  207
31           103  292   82
32            40  106   26
33            49  131   35
34            93  255   67
35            35  114   40
45           142  404  110
49            84  241   82
55           166  454  134
69            73  248   65
88           138  346   99
90           170  419  106
91            73  187   53
92           235  609  192
93           252  626  188
94           201  527  133
95           115  322   90
96           160  420  147
115           15   42   10
116           27   64   20
117           54  123   38
118           16   36    9
119           31   77   17
120           56  119   32
123           22   64   16
124           74  259   72
127           69  132   38
130           52  120   24
133           79  237   72
134           14   46   11
136           16   34    5
139           62  150   48
141          126  307   88
145          139  300   83
172           64  199   54
173           70  149   49
174           56  110   36
175           20   46   26
176           19   63   21
177           21   42   10
178           60  188   55
210           95  226   56
211           95  256   78
freq_id        1     2
retailer_id
9              0   533
10             0   558
11             0   792
22           360     0
25            41     0
26           391     0
27            26     0
28           387     0
29           224     0
30             0  1197
31             0   477
32           172     0
33           215     0
34           415     0
35           189     0
45             0   656
49           407     0
55             0   754
69           386     0
88             0   583
90             0   695
91           313     0
92             0  1036
93             0  1066
94             0   861
95             0   527
96             0   727
115           67     0
116          111     0
117          215     0
118           61     0
119          125     0
120          207     0
123          102     0
124          405     0
127          239     0
130          196     0
133          388     0
134           71     0
136           55     0
139          260     0
141            0   521
145            0   522
172          317     0
173          268     0
174          202     0
175           92     0
176          103     0
177           73     0
178          303     0
210          377     0
211            0   429

In [20]:
for i in range(len(cols)):
    col1 = cols[i]
    if len(df[col1].unique()) < 60 :
        print(pd.crosstab(df['period_end_date'], df[col1]))

if_data_corrected             0    1
period_end_date
2020-08-30 00:00:00+00:00   303    0
2020-09-01 00:00:00+00:00     0  876
2020-09-06 00:00:00+00:00  1339    0
2020-09-13 00:00:00+00:00  1242    0
2020-09-20 00:00:00+00:00  1025    0
2020-09-27 00:00:00+00:00  1341    0
2020-10-01 00:00:00+00:00     0  945
2020-10-04 00:00:00+00:00  1218    0
2020-10-11 00:00:00+00:00  1296    0
2020-10-18 00:00:00+00:00  1442    0
2020-10-25 00:00:00+00:00  1373    0
2020-11-01 00:00:00+00:00  1275  788
2020-11-08 00:00:00+00:00   966    0
2020-11-15 00:00:00+00:00  1775    0
2020-11-22 00:00:00+00:00  2192    0
2020-11-29 00:00:00+00:00   241    0
2020-12-01 00:00:00+00:00     0    3
prod_gr_id                 413   426  427
period_end_date
2020-08-30 00:00:00+00:00   24   200   79
2020-09-01 00:00:00+00:00  118   399  359
2020-09-06 00:00:00+00:00  118   982  239
2020-09-13 00:00:00+00:00  128   894  220
2020-09-20 00:00:00+00:00  140   783  102
2020-09-27 00:00:00+00:00  149   998  194
2020-10-01 00:00:00+00:00  150   303  492
2020-10-04 00:00:00+00:00  176   889  153
2020-10-11 00:00:00+00:00  370   745  181
2020-10-18 00:00:00+00:00  483   796  163
2020-10-25 00:00:00+00:00  406   812  155
2020-11-01 00:00:00+00:00  523   989  551
2020-11-08 00:00:00+00:00  359   465  142
2020-11-15 00:00:00+00:00  369  1271  135
2020-11-22 00:00:00+00:00  878  1144  170
2020-11-29 00:00:00+00:00   95   114   32
2020-12-01 00:00:00+00:00    0     3    0
country_id_n               103.0   104.0   105.0   106.0   107.0   108.0   \
period_end_date
2020-08-30 00:00:00+00:00       2       5       1       3       2      69
2020-09-01 00:00:00+00:00       5      15      63      46       6     302
2020-09-06 00:00:00+00:00      77      71      21      66      28     228
2020-09-13 00:00:00+00:00      69      49      16      56      19     189
2020-09-20 00:00:00+00:00      71      43      13      44      24      98
2020-09-27 00:00:00+00:00      59      53      12      55      31     193
2020-10-01 00:00:00+00:00       4       7      67      66       4     404
2020-10-04 00:00:00+00:00      70      39      10      40      29     144
2020-10-11 00:00:00+00:00      53      43      11      45      21     214
2020-10-18 00:00:00+00:00      66      79      10      38      19     171
2020-10-25 00:00:00+00:00      51      73      16      35      40     141
2020-11-01 00:00:00+00:00      51      75      66      58      34     515
2020-11-08 00:00:00+00:00      61      29       8      35      15     146
2020-11-15 00:00:00+00:00     119      60      18      57      25     150
2020-11-22 00:00:00+00:00      99      52      19      60      58     154
2020-11-29 00:00:00+00:00      24       0       1      23       2      19
2020-12-01 00:00:00+00:00       0       0       0       0       0       0

country_id_n               109.0   110.0   113.0   114.0   ...  151.0   \
period_end_date                                            ...
2020-08-30 00:00:00+00:00       1      19      20       9  ...       0
2020-09-01 00:00:00+00:00       0      52      31      99  ...       0
2020-09-06 00:00:00+00:00      44      77      31      31  ...       0
2020-09-13 00:00:00+00:00      32      73      31      30  ...       0
2020-09-20 00:00:00+00:00      16      75      36      32  ...       0
2020-09-27 00:00:00+00:00      20     185      31      18  ...       0
2020-10-01 00:00:00+00:00       0      39      30      93  ...       0
2020-10-04 00:00:00+00:00      14      82      51      27  ...       0
2020-10-11 00:00:00+00:00      24      41     151      20  ...       0
2020-10-18 00:00:00+00:00      20      77     162      18  ...       0
2020-10-25 00:00:00+00:00      15      40     173      63  ...       1
2020-11-01 00:00:00+00:00      21      80     141     125  ...       0
2020-11-08 00:00:00+00:00      25      43      86      59  ...       0
2020-11-15 00:00:00+00:00      46     136     160      30  ...       0
2020-11-22 00:00:00+00:00      52      91     473      36  ...       0
2020-11-29 00:00:00+00:00      45      15      13       0  ...       0
2020-12-01 00:00:00+00:00       0       0       0       3  ...       0

country_id_n               160.0   170.0   173.0   174.0   176.0   177.0   \
period_end_date
2020-08-30 00:00:00+00:00       1       0       0       0       5       0
2020-09-01 00:00:00+00:00       1       0       0       0      10       0
2020-09-06 00:00:00+00:00       2       2       0       0      37       8
2020-09-13 00:00:00+00:00       3       1       0       0      46      11
2020-09-20 00:00:00+00:00       1       1       0       0      33       6
2020-09-27 00:00:00+00:00       3       0       0       0      27       9
2020-10-01 00:00:00+00:00       0       0       0       0       7       0
2020-10-04 00:00:00+00:00       5       0       0       0      50       8
2020-10-11 00:00:00+00:00       8       0       1       0     148       6
2020-10-18 00:00:00+00:00       6       0       0       0     206      11
2020-10-25 00:00:00+00:00       5       0       0       0     124      11
2020-11-01 00:00:00+00:00       4       1       0       0     114       6
2020-11-08 00:00:00+00:00       1       0       0       0      37       3
2020-11-15 00:00:00+00:00       5       0       0       0      69      18
2020-11-22 00:00:00+00:00       2       0       0       1      80      12
2020-11-29 00:00:00+00:00       0       0       0       0      29       1
2020-12-01 00:00:00+00:00       0       0       0       0       0       0

country_id_n               1002.0  1010.0  1011.0
period_end_date
2020-08-30 00:00:00+00:00       0       0       0
2020-09-01 00:00:00+00:00       0       0      27
2020-09-06 00:00:00+00:00       0      11       5
2020-09-13 00:00:00+00:00       0      18       2
2020-09-20 00:00:00+00:00       0      33       2
2020-09-27 00:00:00+00:00       0      36       2
2020-10-01 00:00:00+00:00       9       0      26
2020-10-04 00:00:00+00:00       0      24       2
2020-10-11 00:00:00+00:00       0      20       4
2020-10-18 00:00:00+00:00       0      34      10
2020-10-25 00:00:00+00:00       0      46      12
2020-11-01 00:00:00+00:00       6      16      14
2020-11-08 00:00:00+00:00       0      29       9
2020-11-15 00:00:00+00:00       0      33      12
2020-11-22 00:00:00+00:00       0     114      52
2020-11-29 00:00:00+00:00       0       2       0
2020-12-01 00:00:00+00:00       0       0       0

[17 rows x 34 columns]
freq_id                      1     2
period_end_date
2020-08-30 00:00:00+00:00  111   192
2020-09-01 00:00:00+00:00  340   536
2020-09-06 00:00:00+00:00  513   826
2020-09-13 00:00:00+00:00  526   716
2020-09-20 00:00:00+00:00  389   636
2020-09-27 00:00:00+00:00  516   825
2020-10-01 00:00:00+00:00  403   542
2020-10-04 00:00:00+00:00  484   734
2020-10-11 00:00:00+00:00  531   765
2020-10-18 00:00:00+00:00  579   863
2020-10-25 00:00:00+00:00  495   878
2020-11-01 00:00:00+00:00  828  1235
2020-11-08 00:00:00+00:00  375   591
2020-11-15 00:00:00+00:00  690  1085
2020-11-22 00:00:00+00:00  870  1322
2020-11-29 00:00:00+00:00   86   155
2020-12-01 00:00:00+00:00    1     2
retailer_id                9    10   11   22   25   26   27   28   29   30   \
period_end_date
2020-08-30 00:00:00+00:00    8    8    9    4    0    6    0    5    1   21
2020-09-01 00:00:00+00:00   29   30   31   17    5   15    1   25   12   42
2020-09-06 00:00:00+00:00   39   46   52   20    5   30    1   27   12   88
2020-09-13 00:00:00+00:00   35   34   53   30    4   32    3   32   15   82
2020-09-20 00:00:00+00:00   38   29   54   15    1   16    1   22    8   57
2020-09-27 00:00:00+00:00   38   35   52   27    0   23    0   14   20   71
2020-10-01 00:00:00+00:00   28   22   32   11    2   13    2   26   14   56
2020-10-04 00:00:00+00:00   37   37   51   21    4   22    0   14   15   65
2020-10-11 00:00:00+00:00   27   30   52   27    2   30    1   21   13   81
2020-10-18 00:00:00+00:00   38   31   68   28    2   43    1   32   24   95
2020-10-25 00:00:00+00:00   28   54   46   30    4   33    2   26   14  103
2020-11-01 00:00:00+00:00   48   63   71   33    4   41    4   39   20  120
2020-11-08 00:00:00+00:00   30   24   40   19    0   17    4   18    9   58
2020-11-15 00:00:00+00:00   43   47   75   31    3   23    3   33   14  115
2020-11-22 00:00:00+00:00   63   53   91   46    4   41    3   47   26  114
2020-11-29 00:00:00+00:00    1   12   12    0    1    5    0    5    6   24
2020-12-01 00:00:00+00:00    0    0    0    0    0    0    0    0    0    0

retailer_id                ...  145  172  173  174  175  176  177  178  210  \
period_end_date            ...
2020-08-30 00:00:00+00:00  ...    7    9    4    4    0    3    1    1    9
2020-09-01 00:00:00+00:00  ...   23    6   10   11    2    4    5   17   21
2020-09-06 00:00:00+00:00  ...   38   22   22   12    7    7    7   21   13
2020-09-13 00:00:00+00:00  ...   33   24   14   10    6    8    4   15   19
2020-09-20 00:00:00+00:00  ...   23   26   16   15    5    7    2   21   20
2020-09-27 00:00:00+00:00  ...   32   20    8   11    8    7    6   31   21
2020-10-01 00:00:00+00:00  ...   20   16   24   16    5    4    2   19   21
2020-10-04 00:00:00+00:00  ...   26   22   17   10    8    8    5   17   20
2020-10-11 00:00:00+00:00  ...   30   16   13   16    3    7    6   19   24
2020-10-18 00:00:00+00:00  ...   46   23   14   19   12    5    7   26   31
2020-10-25 00:00:00+00:00  ...   41   19   22   11    3    8    2   12   30
2020-11-01 00:00:00+00:00  ...   59   33   27   13   15   10    8   37   45
2020-11-08 00:00:00+00:00  ...   26    9   13   11    4    4    3   15   17
2020-11-15 00:00:00+00:00  ...   44   33   26   25    5    7    4   21   40
2020-11-22 00:00:00+00:00  ...   65   35   31   12    9   13    9   25   42
2020-11-29 00:00:00+00:00  ...    9    3    5    4    0    0    2    4    4
2020-12-01 00:00:00+00:00  ...    0    0    0    0    0    0    0    0    0

retailer_id                211
period_end_date
2020-08-30 00:00:00+00:00    5
2020-09-01 00:00:00+00:00   15
2020-09-06 00:00:00+00:00   31
2020-09-13 00:00:00+00:00   18
2020-09-20 00:00:00+00:00   19
2020-09-27 00:00:00+00:00   36
2020-10-01 00:00:00+00:00   13
2020-10-04 00:00:00+00:00   33
2020-10-11 00:00:00+00:00   32
2020-10-18 00:00:00+00:00   31
2020-10-25 00:00:00+00:00   41
2020-11-01 00:00:00+00:00   39
2020-11-08 00:00:00+00:00   21
2020-11-15 00:00:00+00:00   39
2020-11-22 00:00:00+00:00   51
2020-11-29 00:00:00+00:00    4
2020-12-01 00:00:00+00:00    0

[17 rows x 52 columns]

## Cross tabulation _retailer_id_ vs _freq_id_

In [13]:
pd.crosstab(df['retailer_id'], df['freq_id'])

freq_id        1     2
retailer_id
9              0   533
10             0   558
11             0   792
22           360     0
25            41     0
26           391     0
27            26     0
28           387     0
29           224     0
30             0  1197
31             0   477
32           172     0
33           215     0
34           415     0
35           189     0
45             0   656
49           407     0
55             0   754
69           386     0
88             0   583
90             0   695
91           313     0
92             0  1036
93             0  1066
94             0   861
95             0   527
96             0   727
115           67     0
116          111     0
117          215     0
118           61     0
119          125     0
120          207     0
123          102     0
124          405     0
127          239     0
130          196     0
133          388     0
134           71     0
136           55     0
139          260     0
141            0   521
145            0   522
172          317     0
173          268     0
174          202     0
175           92     0
176          103     0
177           73     0
178          303     0
210          377     0
211            0   429

## Cross tabulation _country_id_n_ vs _prod_gr_id_

In [14]:
pd.crosstab(df['country_id_n'], df['prod_gr_id'])

prod_gr_id     413   426   427
country_id_n
103.0            0   881     0
104.0            0   693     0
105.0            0   352     0
106.0            0   474   253
107.0            0   357     0
108.0            0   278  2859
109.0            0   375     0
110.0            0  1125     0
113.0         1605    15     0
114.0            0   693     0
116.0          362   140     0
118.0            0     3     0
119.0            0     7     0
120.0            0    26     0
121.0            0  4153     0
124.0            0     1     0
126.0            0  1354     0
128.0            0     2     0
131.0            0    10     0
136.0            1    28     0
138.0          104     0     0
139.0          438     0     0
141.0            0     9     0
150.0            0    10     0
151.0            0     1     0
160.0            5    42     0
170.0            0     5     0
173.0            0     1     0
174.0            0     1     0
176.0          980    42     0
177.0            0   110     0
1002.0           0    15     0
1010.0         416     0     0
1011.0         179     0     0