In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import matplotlib.pylab as plt
from matplotlib_venn import venn3
from venn import venn
%matplotlib inline

from utils import prepare_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
df = prepare_df()
df.head()

,period_end_date,translated_when,if_data_corrected,prod_gr_id,country_id_n,delivery_type_id,freq_id,retailer_id,brand_id,predict_automatch,class_acctual
0,NaT,2020-10-15 06:58:28+00:00,0,426,121.0,NaN,2,96,111,1.0,1
1,NaT,2020-10-15 06:38:34+00:00,0,426,NaN,NaN,2,92,95,0.0,1
2,2020-09-20,2020-09-23 12:27:51+00:00,0,426,121.0,42730.0,2,30,37,1.0,1
3,2020-09-20,2020-09-23 12:26:41+00:00,0,426,121.0,42730.0,2,92,203,1.0,1
4,2020-09-20,2020-09-22 09:40:36+00:00,0,426,121.0,50128.0,2,9,31,1.0,1